.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    .title{
        margin: 10px, 0px;
    }
}